@import url(./modern-normlize.css);
@import url(./reset.css);

@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");

:root {
  --night-blue: #060d13;
}

body {
  background: linear-gradient(
    135deg,
    hsla(258, 32%, 88%, 1) 25%,
    hsla(256, 33%, 62%, 1) 100%
  );
}

#container {
  height: 100svh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

#title {
  height: 110px;
  margin: 0 0 -15px 0;
}

#player {
  height: 40px;
  border: none;
  border-radius: 5px;
  text-align: center;
  color: #fa61a1;
  &::placeholder {
    text-align: center;
    color: #fa61a1;
  }

  &:focus {
    outline: none;
    border: 2px solid #faa0c6;
  }
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 190px;
  height: 40px;
  background-color: white;
  font-size: 1.5rem;
  border-radius: 5px;
  border: transparent;
  color: #ff0a70;
}

#symbol-buttons {
  display: flex;
  gap: 20px;

  .active {
    box-shadow: none;
    border: 2px solid white;
    transform: translateY(4px);
  }
}

#cross-button {
  background-color: #fa61a1;
  color: white;
  box-shadow: 5px 5px 10px rgba(106, 41, 68, 0.5);
}

#circle-button {
  background-color: #21d4b0;
  color: white;
  box-shadow: 5px 5px 10px rgba(12, 81, 67, 0.5);
}

#reset-button {
  box-shadow: 5px 5px 10px rgba(106, 41, 68, 0.5);

  &.active {
    box-shadow: none;
    transform: translateY(4px);
  }
}

#board {
  position: relative;
  height: 400px;
  width: 400px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.line {
  filter: drop-shadow(0 0 1vmin #a0ced9)
    drop-shadow(0 -0.25vmin 0.25vmin rgb(140, 29, 237))
    drop-shadow(0 0 0.5vmin hsla(0, 0%, 90%, 0.5));
}

#line-1 {
  position: absolute;
  left: calc((400px / 3) - 7px);
}

#line-2 {
  position: absolute;
  left: calc(2 * ((400px / 3)) - 7px);
}

#line-3 {
  position: absolute;
  top: -65px;
  left: 193px;
  transform: rotate(90deg);
}

#line-4 {
  position: absolute;
  top: 68px;
  left: 193px;
  transform: rotate(90deg);
}

.cell {
  display: flex;
  justify-content: center;
  align-items: center;
}

.cross {
  filter: drop-shadow(0 0 0.1vmin #f8dce5)
    drop-shadow(0 -0.25vmin 0.25vmin rgb(252, 201, 212))
    drop-shadow(0 0 0.5vmin hsla(0, 9%, 98%, 0.5));
}

.circle {
  filter: drop-shadow(0 0 0.1vmin #dcf8de)
    drop-shadow(0 -0.25vmin 0.25vmin rgb(201, 252, 219))
    drop-shadow(0 0 0.5vmin hsla(0, 9%, 98%, 0.5));
}

/* MODAL */

#modal {
  width: 400px;
  height: 250px;
  border: 10px solid rgba(255, 10, 112, 0.5);
  outline: none;
  border-radius: 10px;

  &::backdrop {
    background-color: rgba(66, 18, 105, 0.27);
    backdrop-filter: blur(10px);
  }
}

#modal-container {
  display: flex;
  height: 100%;
  justify-content: center;
  align-items: center;
}

#winner {
  text-transform: uppercase;
  font-size: 3rem;
  font-weight: 800;
  font-family: "Anton", serif;
  letter-spacing: 0.8px;
  color: #ff0a70;
}
